# File di build Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# File di log
*.log
backend/.run/

# File di configurazione IDE
.idea/
*.iml
*.ipr
*.iws
*.sw?
*.sublime-*
.vscode/

# File di sistema
.DS_Store
Thumbs.db

# File compilati Java
*.class

# File temporanei
*.tmp
*.bak
*.swp

# File di ambiente
.env

# File JAR
*.jar

# Cartella Maven locale
**/.m2/